In [1]:
import numpy as np
import pandas as pd

In [2]:
bench_data = pd.read_csv("raw_data/2023.02.23_pendulum_data.csv", index_col=[0])

In [3]:
bench_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,Mag Fail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,time,xAcc,yAcc,zAcc,xAng,yAng,zAng,xMag,yMag,zMag,temp,water,lat,lon
3,15711,0.0190,-0.4844,0.8750,-0.2899,-0.2518,0.7095,-1,-1,-1,23.0195,0,nan,nan
4,15721,0.0173,-0.4861,0.8828,-0.8011,0.0153,0.2899,-1,-1,-1,23.0195,0,nan,nan
5,15731,0.0259,-0.4890,0.8845,-0.7095,-0.3738,0.1678,-1,-1,-1,23.0117,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,25382,-0.0256,0.0002,0.9819,38.7421,25.0473,-103.7292,-1,-1,-1,23.0664,0,nan,nan
971,25392,-0.0249,-0.0037,1.0039,41.4505,27.4811,-100.5402,-1,-1,-1,23.0664,0,nan,nan
972,25402,-0.0266,-0.0012,1.0012,44.2810,30.2658,-97.5037,-1,-1,-1,23.0352,0,nan,nan
973,25412,-0.0305,-0.0056,1.0037,46.5240,33.0276,-94.1315,-1,-1,-1,23.0352,0,nan,nan
974,25422,-0.0242,-0.0005,1.0181,48.9349,35.4309,-89.9277,-1,-1,-1,23.0352,0,nan,nan

In [4]:

bench_data.columns = ['time',	'xAcc',	'yAcc',	'zAcc',	'xAng',	'yAng',	'zAng',	'xMag',	'yMag',	'zMag',	'temp',	'water', 'lat',	'lon']
bench_data = bench_data.iloc[2:, :]
bench_data = bench_data.reset_index(drop=True)

bench_data.drop(["temp", "water", "lat", "lon"], inplace=True, axis=1)

In [5]:
bench_data

,time,xAcc,yAcc,zAcc,xAng,yAng,zAng,xMag,yMag,zMag
0,15711,0.0190,-0.4844,0.8750,-0.2899,-0.2518,0.7095,-1,-1,-1
1,15721,0.0173,-0.4861,0.8828,-0.8011,0.0153,0.2899,-1,-1,-1
2,15731,0.0259,-0.4890,0.8845,-0.7095,-0.3738,0.1678,-1,-1,-1
3,15741,0.0239,-0.4810,0.8870,-1.0529,-0.3128,-0.1144,-1,-1,-1
4,15751,0.0283,-0.4783,0.8845,-0.6714,-0.1144,-0.4196,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
967,25382,-0.0256,0.0002,0.9819,38.7421,25.0473,-103.7292,-1,-1,-1
968,25392,-0.0249,-0.0037,1.0039,41.4505,27.4811,-100.5402,-1,-1,-1
969,25402,-0.0266,-0.0012,1.0012,44.2810,30.2658,-97.5037,-1,-1,-1
970,25412,-0.0305,-0.0056,1.0037,46.5240,33.0276,-94.1315,-1,-1,-1
971,25422,-0.0242,-0.0005,1.0181,48.9349,35.4309,-89.9277,-1,-1,-1

In [6]:
bench_data.drop(["xAng", "yAng", "zAng", "xMag","yMag", "zMag"], inplace=True, axis=1)
bench_data = bench_data.astype(float)
bench_data['time'] = bench_data['time'].div(1000)
bench_data['time'] = bench_data['time'] - bench_data['time'].iloc[0]

In [7]:
bench_data.set_index("time", drop=True)
bench_data
bench_data.to_csv("cleaned_data/1m_positive_fast_time.csv")

In [9]:
#bench_data["xMag"] = bench_data['xMag'].replace(-1, np.nan)
#bench_data["yMag"] = bench_data['yMag'].replace(-1, np.nan)
#bench_data["zMag"] = bench_data['zMag'].replace(-1, np.nan)

KeyError: 'xMag'

In [10]:
#bench_data = bench_data.iloc[lambda x: x.index % 5 == 0]
bench_data

      time    xAcc    yAcc    zAcc
0    0.000  0.0190 -0.4844  0.8750
1    0.010  0.0173 -0.4861  0.8828
2    0.020  0.0259 -0.4890  0.8845
3    0.030  0.0239 -0.4810  0.8870
4    0.040  0.0283 -0.4783  0.8845
..     ...     ...     ...     ...
967  9.671 -0.0256  0.0002  0.9819
968  9.681 -0.0249 -0.0037  1.0039
969  9.691 -0.0266 -0.0012  1.0012
970  9.701 -0.0305 -0.0056  1.0037
971  9.711 -0.0242 -0.0005  1.0181

[972 rows x 4 columns]

In [23]:
bench_data_x = bench_data.iloc[:,0:2]
bench_data_x.to_csv("cleaned_data/1m_xpositive_fast_time.csv")

In [26]:
bench_data_y = bench_data.iloc[:, np.r_[0, 2]]

bench_data_y.to_csv("cleaned_data/1m_ypositive_fast_time.csv")
bench_data_y

      time    yAcc
0    0.000 -0.4844
1    0.010 -0.4861
2    0.020 -0.4890
3    0.030 -0.4810
4    0.040 -0.4783
..     ...     ...
967  9.671  0.0002
968  9.681 -0.0037
969  9.691 -0.0012
970  9.701 -0.0056
971  9.711 -0.0005

[972 rows x 2 columns]

In [27]:
bench_data_z = bench_data.iloc[:, np.r_[0, 3]]

bench_data_z.to_csv("cleaned_data/1m_zpositive_fast_time.csv")
bench_data_z

      time    zAcc
0    0.000  0.8750
1    0.010  0.8828
2    0.020  0.8845
3    0.030  0.8870
4    0.040  0.8845
..     ...     ...
967  9.671  0.9819
968  9.681  1.0039
969  9.691  1.0012
970  9.701  1.0037
971  9.711  1.0181

[972 rows x 2 columns]

In [ ]:
bench_data.to_csv("cleaned_data/1m_zpositive_fast_time.csv")